@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

/* PAGE BODY STRUCTURE */
body {
    font-family: Diphylleia, sans-serif;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;

    background-color: #fdf5cf;
    color: #1b3f18;
}

/* LOGO AND NAVIGATION BAR */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 400%;
    letter-spacing: 4px;
    line-height: 20px;
    font-weight: bolder;
    text-transform: capitalize;
    margin: 0;
    color: #1b3f18;
    text-align: left;
}

.navbar {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 150%;
    line-height: inherit;
    letter-spacing: 2px;
    margin: 10px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #1b3f18;

}

.navbar a:hover {
    border-bottom: 1px solid;
    background-color: #1b3f18;
    color: #fdf5cf;
}

/* TITLE AND PARAGRAPHS*/
.title {
    font-size: 150%;
    letter-spacing: 4px;
    line-height: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
    clear: both;
    color: #1b3f18;
}

.welcome-content {
    padding: 10px;
}

/* homepage image */

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    margin: auto;
    clear: both;
    border-radius: 20px 40px 5px;
}

/* FOOTER */
footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #1b3f18;
}

/* gallery */

#photos {
    float: inherit;
    clear: both;
    line-height: inherit;
    column-count: 4;
    column-gap: inherit;
}

#photos>img {
    width: 100%;
}


/* contact form */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#contact {
    background-color: #fdf5cf;
    border-radius: 20px 40px 5px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px 40px 5px;
    border: 1px solid #fdf5cf;
    border-style: inset;
    border-color: #1b3f18;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1b3f18;
    color: #fdf5cf;
    border: none;
    border-radius: 20px 40px 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b3f18;
}

/* MEDIA QUERIES */
/* for larger screen sizes from 1400px wide and down */
@media screen and (max-width: 1400px) {
    .header {
        flex-wrap: wrap;
    }

    .logo {
        font-size: 200%;
        flex-basis: 100%;
        text-align: center;
    }

    .navbar {
        flex-basis: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar li {
        margin: 5px;
    }

    .navbar a {
        padding: 5px;
    }

    .welcome-content {
        margin: 40px 0;
    }

    .center-image {
        width: 80%;
        margin: 40px auto;
    }

    footer {
        height: auto;
    }
}

/* for larger screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #photos {
        column-count: 3;
    }

    .center-image {
        max-width: 100%;
    }

    /* for larger screen sizes from 800px wide and down */
    @media screen and (max-width: 800px) {
        #photos {
            column-count: 2;
        }
    }